/* Modules
   ========================================================================== */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal__close {
  display: block;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__inner {
  position: relative;
  width: calc(var(--spacing) * 36);
  max-width: 100%;
  padding: calc(var(--spacing) * 3) calc(var(--grid-gutter) * 1.5);
  border-radius: 5px;
  border: 1px solid var(--color--tertiary);
  background-color: var(--color--body-background);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 20px 32px -8px;
}

.modal__close-btn {
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-btn svg {
  width: var(--spacing);
  height: var(--spacing);
  fill: var(--color--body-alt);
}

.modal__close-btn:hover svg {
  fill: var(--color--body);
}

.radio-recognition input {
  display: none;
}

.radio-recognition span {
  display: block;
  position: relative;
  height: calc(var(--spacing) * 3);
  margin-bottom: var(--spacing);
  border-radius: 5px;
  border: 1px solid var(--color--tertiary);
  color: var(--color--body-alt);
  pointer-events: none;
}

.radio-recognition strong {
  position: absolute;
  font-size: 1.125rem;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.radio-recognition input:checked + span {
  color: var(--color--primary);
  border-color: var(--color--primary);
  border-width: 2px;
  z-index: 9;
}

.avatar {
  width: calc(var(--spacing) * 1.5);
  height: calc(var(--spacing) * 1.5);
  font-size: 1rem;
  line-height: calc(var(--spacing) * 1.5);
  border-radius: var(--spacing);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color--primary);
  color: var(--color--body-background);
  cursor: default;
  overflow: hidden;
}

.card {
  display: block;
  width: 100%;
  padding: var(--spacing) calc(var(--grid-gutter) * 0.5);
  margin-bottom: calc(var(--spacing) * 2);
  transition: box-shadow 250ms;
  user-select: none;
}

.card.btn {
  line-height: calc(var(--spacing) * 2);
}

@media (min-width: 992px) {
  .card.btn {
    line-height: calc(var(--spacing) * 2.5);
  }
}

.card:not(.btn) {
  border-radius: 5px;
  border: 1px solid var(--color--tertiary);
  text-align: left;
  color: inherit;
}

.card:hover,
.card.btn:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 20px 32px -8px;
}

.card__info span:not(:last-child)::after {
  content: " - ";
}

.cba {
  color: var(--color--body-alt);
}

.ellipsis {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inline-loading {
  --a: #ebedf1;
  --b: #e0e9ff;
  height: 1rem;
  margin: calc(var(--spacing) * 0.75) 0;
  border-radius: 2px;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, var(--a) 8%, var(--b) 36%, var(--b) 40%, var(--a) 54%);
  background-size: 1000px 640px;
  position: relative;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}