/* Typography
  ========================================================================== */

body,
button,
input,
select,
textarea {
  color: var(--color--body);
  font-family: var(--font-family--primary);
  font-size: 1rem;
  font-weight: var(--font-weight--primary-regular);
  line-height: var(--spacing);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  display: block;
  clear: both;
  font-weight: var(--font-weight--primary-bold);
  margin: calc(var(--spacing) * 1.5) 0 calc(var(--spacing) * 0.5);
  word-wrap: break-word;
}

h1 {
  font-size: 2.8125rem;
  line-height: calc(var(--spacing) * 2);
}

@media (min-width: 992px) {
  h1 {
    font-size: 3.375rem;
    line-height: calc(var(--spacing) * 3);
  }
}

h2 {
  font-size: 2.125rem;
  line-height: calc(var(--spacing) * 2);
}

@media (min-width: 992px) {
  h2 {
    font-size: 2.8125rem;
    line-height: calc(var(--spacing) * 2.5);
  }
}

h3 {
  font-size: 1.875rem;
  line-height: calc(var(--spacing) * 2);
}

@media (min-width: 992px) {
  h3 {
    font-size: 2.125rem;
  }
}

h4 {
  font-size: 1.75rem;
  font-weight: var(--font-weight--primary-regular);
  line-height: calc(var(--spacing) * 1.5);
}

@media (min-width: 992px) {
  h4 {
    font-size: 1.875rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: var(--font-weight--primary-regular);
  line-height: var(--spacing);
}

@media (min-width: 992px) {
  h5, .h5 {
    font-size: 1.5rem;
    line-height: calc(var(--spacing) * 1.5);
  }
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
.h5 span {
  color: var(--color--primary);
}

p {
  margin: 0 0 var(--spacing);
}

label {
  font-size: 1rem;
  user-select: none;
}

mark {
  font-family: monospace;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 2px;
  background-color: var(--color--tertiary);
  color: var(--color--error);
}

/**
 * Text utils
 */

/* Alignment */

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Misc */

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
